.footer {
    background: #eef8ff;
    width: 100vw;
    position: absolute;
    background-color: inherit;
    background: linear-gradient(to right, #74C36D, #3CC6F3);
    color: #fff;
    padding: 20px 10px 500px;
    padding-bottom: -50px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 450;
}

footer.footer {
    padding-bottom: 8px;
}

.footer .columns .column .email-id {
    text-decoration: none;
    color: inherit;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer .columns .column .email-id a:hover {
    color: #175357;
    background-color: #ffffff00;
}

.footer .column {
    color: #fff;
}

.footer .columns .column ul li a {
    /* links*/
    color: #fff;
}

.footer .columns .column ul li a:hover {
    /* links*/
    color: #175357;
    background-color: #ffffff00;
}

.col .social-icons hr {
    transform: translateX(-90px);
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.footer .columns .column .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer .columns .column .social-icon {
    text-align: center;
}

.footer hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.footer .copyright {
    text-align: center;
    font-size: 18px;
}

.footer .link-icons {
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.footer-text{
    margin-left: -10px;
    margin-top: -5px;
    text-align:left;

}
@media screen and (max-width:540px) {
    .footer{
        border-radius: 0;
    }
}

.two {
    margin-top: -20%;
}

.try{
    margin-left: -6%;
    margin-top: -25px;
}

.link{
    margin-top: -25px;
    margin-left: 6%;

}