@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  padding: 20px 0px;
  margin-top: 30px;
}

.hero .title {
  color: #363636 unset;
}

.container {
  width: 100vw;
  margin: 0px auto;
}
#team .container .title{
    color:#175357;
    font-family: 'Comfortaa',cursive;
}

/* Float three columns side by side */

.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  padding-left: 10px;
}

/* Remove extra left and right margins, due to padding */

.row {
  /* margin: 0 -5px; */
  margin-top: 50px;
  margin-left: 130px;
  margin-bottom: 70px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */

@media screen and (max-width: 700px) {
  .title {
    font-size: 60px !important;
    padding: 20px 0px;
    margin-top: 30px;
  }
  
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card h2 {
  color: #175357;
  /* color: #fff; */
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  /* background-color: #fff; */
  border-radius: 10px;
  cursor: pointer;
}

.card .profile {
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover .profile {
  transform: scale(1.4);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.card .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1e6;
  transition: 1s;
  z-index: 1;
  padding: 10px;
}

.from-left {
  top: 0;
  left: -100%;
}

.card:hover .content .from-left {
  left: 0%;
}

.from-bottom {
  top: 100%;
  left: 0;
}

.card:hover .content .from-bottom {
  top: 0%;
}

.from-right {
  top: 0%;
  right: -100%;
}

.card:hover .content .from-right {
  right: 0;
}

.card .content .back h3 {
  font-size: 15px;
  letter-spacing: 2px;
}

.card .content .back .tem-img {
  border-radius: 100%;
}

.card .content .back .des {
  font-size: 13px;
  padding: 20px 0px;
}

.card .content .back .social-icon {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.card .content .back .social-icon li {
  display: inline-block;
  color: #175357;
}

.card .content .back .social-icon li a {
  display: block;
  /* background: rgb(255, 255, 255); */
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}
@media screen and (max-width: 540px) {
  .title {
    font-size: 60px !important;
    padding: 20px 0px;
    margin-top: 30px;
  }

  #team .column {
    width: fit-content;
  }
  #team .row {
    width: 70vw;
    margin: auto;
  }  
}
#team {
    background: linear-gradient(
        to top,
        #fff 18%,
        #3CC6F3 50%,
        #6dc383 80%
        );
  height: inherit;
}
