/* #timeline {
    background-color: #ffffff00;
} */

.timeline .timeline-item .timeline-marker.is-icon.is-large {
    height: 2.8em;
    width: 2.8em;
    line-height: 1.5rem;
}

.timeline .timeline-item .timeline-content .heading.is-date {
    font-size: medium;
}


/*.hero.is-fullheight.gradient-bg {
    background: linear-gradient(-45deg, #3CC6F3, #74C36D);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: inherit;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

#timeline .blurrbg {
    backdrop-filter: blur(5px);
    min-width: inherit;
    min-height: inherit;
}

#timeline .hero-body.timeline.is-centered.has-text-light.center {
    margin-top: 100px;
}