// default color set
$primary-color : #00c9e1;
// color variation
$hover-color : #007ae1;
// title color

// social color

// body var
$iconFontawesome: 'FontAwesome';
$bodyFont: 'Quicksand', sans-serif;
$fontWeight: 400;
$bColor: #828181;
$bfSize: 16px;
$blineHeight: 28px;
$transition:all .5s;

